<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>site</title>
</head>
<body>
  <header class="fixed">
    <div class="container-fluid top-header d-none d-md-flex">
      <ul class="list-unstyled d-inline-flex align-items-center mt-2 ms-auto fs-6">
        <li class="text-white ms-5"><i class="fas fa-phone me-1"></i> +91 89258 50445 / +91422 - 4383949</li>
        <li class="text-white ms-4"><i class="fas fa-envelope me-1"></i>marketingtannyshelters.com</li>
      </ul>
      <div class="d-inline-flex align-items-center me-5">
        <i class="fa-brands fa-facebook-f ms-4 fs-6"></i>
        <i class="fa-brands fa-linkedin-in ms-4 fs-6"></i>
      </div>
    </div>
    <nav class="navbar navbar-expand-md bg-light">
      <a class="navbar-brand" href="#">
        <img src="logo.png" alt="logo" class="img-fluid ms-4" style="height:80px;">
      </a>
      <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#expandme" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="expandme">
        <ul class="navbar-nav">
          <li class="navbar-item active fs-6 ms-3 fw-bold"><a class="nav-link" href="#">Home</a></li>
          <li class="navbar-item fs-6 ms-3 fw-bold"><a class="nav-link" href="www.google.com">About</a></li>
          <li class="navbar-item fs-6 ms-3 fw-bold"><a class="nav-link" href="www.google.com">Ongoing</a></li>
          <li class="navbar-item fs-6 ms-3 fw-bold"><a class="nav-link" href="www.google.com">Completed</a></li>
          <li class="navbar-item fs-6 ms-3 fw-bold"><a class="nav-link" href="www.google.com">Media</a></li>
          <li class="navbar-item fs-6 ms-3 fw-bold"><a class="nav-link" href="www.google.com">Quality Policy</a></li>
          <li class="navbar-item fs-6 ms-3 fw-bold"><a class="nav-link" href="www.google.com">Going green</a></li>
          <li class="navbar-item fs-6 ms-3 fw-bold"><a class="nav-link" href="www.google.com">Contact us</a></li>
          <a href="www.google.com"><button type="button" class="ms-2 mt-2 p-2 text-white rounded getquote">GET QUOTE</button></a>
        </ul>
      </div>
    </nav>
  </header>

  <div class="bg-image" style="background-image: url('shelter.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100vh;">
    <div class="d-flex justify-content-start align-items-center h-100">
      <div class="ms-5 mt-4 text-white">
        <h1 class="fs-1" style="font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;">VISIT</h1>
        <p class="fs-3" style="font-family:sans-serif;">Our one of Tanny Shelters' properties. </p>
        <p class="fs-6" style="font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;">Our one of Tanny Shelters' properties. </p>
        <button type="button" class=" p-3 fs-6 fw-bold  " style="background-color: #8fc964; color:green; border:1px solid white;">GO GREEN</button>
      </div>
    </div>
  </div>
  <div id="counter">
    <div class="row text-center mt-5">
      <div class="col-md-3">
        <div class="exp">
          <div class="number">
            <h2 class="fw-bold">5+</h2>
          </div>
          <p class=" fs-6">Year Experience</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="exp">
          <div class="number">
            <h2 class="fw-bold">300000</h2>
          </div>
          <p class="fs-6">Lakhs Sqfts handed over </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="exp">
          <div class="number">
            <h2 class="fw-bold">50000</h2>
          </div>
          <p class="fs-6">Lakhs Sqfts under construction</p>
        </div>
      </div><div class="col-md-3">
        <div class="exp">
          <div class="number">
            <h2 class="fw-bold">10+</h2>
          </div>
          <p class="fs-6">options to choose</p>
        </div>
      </div>
    </div>
    <div class="row mt-5 ">
      <div class="col-lg-9 m-auto text-center">
        <p class="h1 fs-1">
          The Coimbatore's largest and most experienced custom home builder.
        </p>
        <p class="fw-normal fs-6 mt-3">Build the new home you've always dreamed of, nearly anywhere in Coimbatore.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt-5 bg-light">
      <div class="col-lg-6 col-md-12 ">
        <div class="about ">
          <p class="mb-0 fs-3 fw-semibold">About </p>
          <p class="fs-3 fw-semibold">TANNY SHELTERS?</p>
          <p>Tanny Shelters is the leading independent housing solution
             <br>
            provider operating in key hubs across Coimbatore.</p>
          <p>Tanny Shelters comes up with exceptional design and utilize cutting-edge technologies and best practices for every construction that we offer, along with a sustainable approach. We better understand evolving urban lifestyles as well as needs, and design intelligent spaces to fulfill the aspirations of new age customers.</p>
          <a href="www.google.com" class="btn fw-bold px-3 py-2" style="background-color:white; border:2px solid  #8fc964 ;">KNOW MORE <span class="fa fa-chevron-right " style="color:#8fc964"></span></a></div>

      </div>
      <div class="col-lg-6 col-md-12  "> <img src="secnd pic.jpg"  alt="house" class="img-fluid"> </div>
    </div>
  </div>
  <div class="container-fluid second-bg" style="margin-top: 50px; padding-left: 20px;">
    <div class="row">
      <div class="col-xl-10 col-lg-12 offset-xl-2">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-12 offset-xl-1">
            <div class="projectTitle">
              <h1 style="font-size: 28px;"><strong>ONGOING</strong> </h1>
              <h1 style="font-size: 25px;" class="ms-4"><strong>Projects</strong> </h1>
              <a href="" class="btn custom-btn">View all Projects <span class="fa fa-long-arrow-right"></span></a>
            </div>
          </div>
          <div class="col-xl-7 col-lg-9 col-md-12 offset-xl-1">
            <div class="row">
              <div class="col-lg-8 col-md-12 mx-auto pb-2 text-center">
                <div class="d-flex justify-content-between mb-3">
                  <a href="#" class="btn custom-btn"><i class="fa-solid fa-arrow-left"></i></a>
                  <h2><img src="logo.png" alt="Skanda"></h2>
                  <a href="#" class="btn custom-btn"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <p style="font-size: 18px;">Tanny's Skanda Homes is a reflection of the modern-day home-buyer’s aspirations and dreams, in both functionality and design. The trustworthiness that our existing customers experience and the happy faces we have seen in them have motivated us to embark on yet another landmark project.</p>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <img src="sketch1.jpg" class="img-fluid h-100" title="ongoingConstruction" alt="Home">
                  </div>
                  <div class="col-md-6">
                    <p class="fs-6 fw-semibold">Saravanampatti, Coimbatore</p>
                    <a href="" class="btn custom-btn">Know More</a>
                    <a href="" class="btn custom-btn ms-2">Make an Enquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid second-bg" style="margin-top: 50px; padding-left: 20px;">
    <div class="row">
      <div class="col-xl-10 col-lg-12 offset-xl-2">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-12 offset-xl-1">
            <div class="projectTitle">
              <h1 style="font-size: 28px;"><strong>completed</strong> </h1>
              <h1 style="font-size: 25px;" class="ms-4"><strong>Projects</strong> </h1>
              <a href="ongoing-projects " class="btn custom-btn">View all Projects <span class="fa fa-long-arrow-right"></span></a>
            </div>
          </div>
          <div class="col-xl-7 col-lg-9 col-md-12 offset-xl-1">
            <div class="row">
              <div class="col-lg-8 col-md-12 mx-auto pb-2 text-center">
                <div class="d-flex justify-content-between mb-3">
                  <a href="" class="btn custom-btn"><i class="fa-solid fa-arrow-left"></i></a>
                  <h2><img src="logo.png" alt="Skanda"></h2>
                  <a href="" class="btn custom-btn ms-2"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <p style="font-size: 18px;">Demonstrating Our ability to deliver quality results within tight deadlines and contributing to the success of each team We have worked with.</p>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <img src="completed.jpg" class="img-fluid " title="ongoing Construction" alt="Home Green Villas Thudiyalur">
                  </div>
                  <div class="col-md-6">
                    <p class="fs-6 fw-semibold">Gandhipuram</p>
                    <a href="tanny-skanda-homes" class="btn custom-btn">Know More</a>
                    <a href="contact-us" class="btn custom-btn ms-2">Make an Enquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid  text-center " style="background-color:rgb(254, 254, 226);">
    <div class="container mt-4">
      <h1 >We provide our customers the best</h1>
      <div class="row mt-4">
        <div class="col-lg-3 col-md-6">
          <img src="venti.png" alt="Perfect Ventilation"style="width:100px;">
          <h2><strong>Perfect</strong></h2>
          <h3>ventilation</h3>
          <p>Natural ventilation is crucial for lowering indoor temperatures with seamless airflow.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="download__5_-removebg-preview.png" alt="Lively Light"style="width:100px;">
          <h2><strong>Lively</strong> </h2>
          <h3>Live</h3>
          <p>With ample sunlight, you won't need to turn on lights during the day.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="images__4_-removebg-preview.png" alt="Utmost Privacy"style="width:100px;">
          <h2><strong>Utmost</strong> </h2>
          <h3> Privacy</h3>
          <p>Tanny Shelters ensures perfect privacy for its residents.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="images__22_-removebg-preview.png" alt="Smart Space" style="width:100px;">
          <h2><strong>Smart</strong></h2>
          <h3>Space</h3>
          <p>Thoughtful planning makes the most of every square foot of space.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center ">
    <div class=" container">
      <h1>Latest Testimonials</h1>
      <p class=""> We love to hear from clients</p>
    </div>
  </div>
  <div class="container-fluid Testimonials">
    <div class="container">
      <div class="row mb-2 rounded" style="background-color:#4f3d86; padding: 70px 9px;"> <!-- Add padding here -->
        <div class="col-lg-8 col-md-8">
          <div class="testmonialLeft">
            <h2 class="text-white"><strong>Mr.D.Jegadish, Coimbatore</strong></h2>
            <h4 class="text-white">Tanny's Seyon Villa</h4>
            <p class="text-white fs-6">Tanny Shelters Building Trust Ethically
            To Walk the Talk needs courage. We are happy our dream Home is in safe hands of this Courageous team, who don't shy away to say no when their values are at stake.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="testmonialright">
            <img src="download__1_-removebg-preview.png" alt="hi" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="background-color: rgb(209, 235, 144);">
        <div class="col-12 col-md-6 mt-3">
            <img src="download (30).jpg" class="img-fluid h-100" alt="Form">
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <div class="enquiryForm bg-white p-4 rounded mt-3" style="width: 100%;">
                <h1 class="text-center text-black mb-4">ENQUIRE NOW</h1>
                <form>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-2">
                            <input type="text" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="col-12 col-md-6 mb-2">
                            <input type="text" name="mobile" placeholder="Number" class="form-control" required>
                        </div>
                        <div class="col-12 mb-2">
                            <input type="email" name="email" placeholder="Email" class="form-control" required>
                        </div>
                        <div class="col-12 mb-2">
                            <select name="project" class="form-control" required>
                                <option value="" disabled selected>Select Project</option>
                                <option value="Project 1">tanny1</option>
                                <option value="Project 2">tanny2</option>
                                <option value="Project 3">tanny3</option>
                            </select>
                        </div>
                        <div class="col-12 mb-2">
                            <input type="text" name="city" placeholder="City" class="form-control" required>
                        </div>
                        <div class="col-12 mb-2">
                            <textarea name="comments" placeholder="Additional Comments" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="text-center mt-3">
                            <input type="submit" value="Send A Message" class="btn btn-dark">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content mt-4">
          <h4 class="text-white">ABOUT US</h4>
          <p class="text-white">Tanny Shelters is the leading independent housing solution provider operating in key hubs across Coimbatore.Tanny Shelters comes up with exceptional design and utilize cutting-edge technologies and best practices for every construction that we offer, along with a sustainable approach.
           <a href="www.google.com">view more</a>
          </p>
        </div>
        <div class="socialmedia text-white">
          <h6>Social Media</h6>
          <ul class="d-flex p-0" style="gap: 10px; list-style-type: none;">
              <li><a href="https://www.google.com/search?q=facebook"><i class="fa-brands fa-facebook-f fs-6"></i></a></li>
              <li><a href="https://www.google.com/search?q=twitter"><i class="fa-brands fa-twitter fs-6"></i></a></li>
              <li><a href="https://www.google.com/search?q=linkedin"><i class="fa-brands fa-linkedin fs-6"></i></a></li>
          </ul>
      </div>
      </div>
      <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">
                <div class="footerlink text-white mt-4">
                    <h6>INFORMATION</h6>
                    <ul style="list-style-type: none; padding-left: 0; font-size: medium;">
                        <li><a href="https://www.google.com/search?q=facebook" style="color: white; text-decoration: none;">Why us</a></li>
                        <li><a href="https://www.google.com/search?q=twitter" style="color: white; text-decoration: none;">Careers</a></li>
                        <li><a href="https://www.google.com/search?q=linkedin" style="color: white; text-decoration: none;">Disclaimer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
              <div class="footerlink text-white  mt-4">
                  <h6>Completed</h6>
                  <ul style="list-style-type: none; padding-left: 0; font-size: medium;">
                      <li><a href="https://www.google.com/search?q=facebook" style="color: white; text-decoration: none;">Tanny's hillstation</a></li>

                  </ul>
              </div>
          </div>
          <div class="col-md-6">
            <div class="footerlink text-white mt-4">
              <h6>Upcoming</h6>
                <ul style="list-style-type: none; padding-left: 0; font-size: medium;">
                    <li><a href="https://www.google.com/search?q=facebook" style="color: white; text-decoration: none;">Tanny's palace</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="footerlink text-white">
            <h6>ONGOING</h6>
              <ul style="list-style-type: none; padding-left: 0; font-size: medium;">
                  <li><a href="https://www.google.com/search?q=facebook" style="color: white; text-decoration: none;">Tanny's museum</a></li>
              </ul>
          </div>
      </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="contctus text-white">
        <h5 class="mt-4">CONTACT US</h5>
        <h6 class="regular" >Tanny Shelters Private Limited</h6>
        <p>
          <span class="bold">Tanny's Comcentre</span> <br>
          Office No:403,404,405, <br>
          4th Floor, Bharathi Park,  <br>
          8th Cross, Opp.Sidhi Vinayagar Temple, <br>
          Coimbatore - 641 011 <br>
          Tamil Nadu, India. <br>
          Phone : <a href="+91422 4383949" style="text-decoration:none; ">+91422 4383949</a><br>
          </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15664.928031203099!2d76.938624!3d11.0212119!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44e6f1ff55f59200!2sTanny's%20Comcentre!5e0!3m2!1sen!2sin!4v1647084069404!5m2!1sen!2sin" width="100%" height="100"  style="border:0" title="Google Map"></iframe>
      </div>
    </div>
  </div>
  </div>
</footer>
<div class="footerBottom">
  <div class="container-fluid bg-black">
    <div class="container d-flex justify-content-center text-white">
    <p class="copyrights">© Copyright 2024 Tanny Shelters Private Limited.</p> <p class="">Designed and Developed by <a href="ww.google.com">shelja</a></p>
    </div></div>
  </div>
</body>
</html>
